<% layout("/layouts/boilerplate") -%>

<div class="container mt-5">
  <h1 class="text-danger">Error <%= err.statusCode || 500 %></h1>
  <p><%= err.message || "Something went wrong!" %></p>
  <a href="/listings" class="btn btn-primary mt-3">Go Back Home</a>
</div>
